.App {
  height: 550px;
  width: 400px;
  margin: 20px auto;
  border: 1px solid black;
  padding-top: 5px;
  text-align: center;
}

.block {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px;
  background: #cccccc;
  border: 1px solid grey;
  cursor: pointer;
  color: transparent;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  font-weight: bold;
  user-select: none;
}
.block:active {
  background: grey;
}

.opened {
  color: #000;
  background: transparent;
}
p {
  font-weight: bold;
  text-transform: uppercase;
}